.myContainer {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  // padding: 0 10px;
}
@include RESPONSIVE("768px") {
  .myContainer {
    width: calc(100% - 30px);
  }
}
@include RESPONSIVE("992px") {
  .myContainer {
    width: calc(100% - 20px);
  }
}

// Color theater
.CGV {
  color: #e71a0f;
}
.BHD {
  color: #8bc541;
}
.CNS {
  color: #df0d7a;
}
.GLX {
  color: #f60;
}
.Lotte {
  color: #ca4137;
}
.MegaGS {
  color: #e5a813;
}
// End color theater

.stack > * + * {
  margin-top: $sp-10;
}

.avatar-img {
  display: inline-block;
  margin-right: 10px;
  @include roundElement(30px, 30px, 50%);
  // box-sizing: content-box;
}
