.ads {
  background: url("../../images/background.jpg");
  padding: $sp-60 0;
  // &__item {
  //   // @include displayFlex(center, center, column);
  //   text-align: center;
  // }
  &__mobile-img {
    width: 100%;
    margin: auto;
    padding: 0 28%;
  }
  &__title {
    margin-bottom: $sp-10;
    font-weight: 600;
    @include styleText($color-white-0, 1.8 * $sp-em);
  }
  &__subtitle {
    margin: 10px;
    @include styleText($color-white-0, $sp-em);
  }
  .text__underbutton {
    @extend .ads__subtitle;
    a {
      color: $color-white-0;
      text-decoration: underline;
    }
  }
  .slider-wrapper {
    z-index: 9;
    @include positionAbsolute(0, 0);
    @include roundElement(100%, 100%, 0);
    padding: 2% 31% 1.5% 31%;
    .slick-list {
      border-radius: 20px;
      height: 100%;
    }
  }
}
@include RESPONSIVE("992px") {
  .ads {
    padding: $sp-120 0 $sp-60 + 20;
    &__item {
      align-self: center;
      text-align: left;
    }
    &__title {
      font-size: $fs-32;
      font-weight: 700;
    }
    &__subtitle {
      margin: 0;
      font-size: $fs-16;
    }
    .text__underbutton {
      padding-top: $sp-10;
    }
    .slider-wrapper {
      padding: 2% 30.5% 1.5% 30.5%;
    }
  }
}
