#confirm1 {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: $color-white-0;
  z-index: 99;
  border-top: 1px solid #ccc;
  .confirm-wrapper {
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    // &::after {
    //   content: "";
    //   display: block;
    // }
    .confirm__item {
      padding: $sp-20 $sp-15 0;
      cursor: pointer;
      @include styleText($color-white-0, $fs-18);
      background: $color-choosing;
      &.btnPayMoney--desk {
        display: none;
        @include RESPONSIVE("768px") {
          display: block;
        }
      }
    }
    #showseat {
      @include styleText($color-choosing, $fs-16);
      background: $color-white-0;
      position: relative;
      font-weight: 600;
      cursor: unset;
    }
    .btnPayMoney {
      display: none;
    }
  }
  @include RESPONSIVE("768px") {
    display: none;
  }
}
