// define Grid
$row-1-height: 90px;
$total-height: 735px;
.detail {
  margin: 30px 0;
  &__listOfDay {
    grid-area: ld;
    max-height: $row-1-height;
    border: 1px solid #ebebec;
  }

  &__theater {
    grid-area: tr;
    max-height: $total-height;
    border: 1px solid #ebebec;
  }

  &__showList {
    grid-area: sh;
    max-height: calc($total-height - $row-1-height);
    border: 1px solid #ebebec;
  }

  &-wrapper {
    box-shadow: 0 0 15px rgba($color: #fff, $alpha: 0.3);
    display: grid;
    // grid-auto-rows: minmax(90px, auto);
    grid-template-rows: minmax(auto, 90px) 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "ld"
      "tr"
      "sh";

    @include RESPONSIVE("768px") {
      grid-template-columns: repeat(10, 1fr);
      grid-template-areas:
        "tr tr tr ld ld ld ld ld ld ld"
        "tr tr tr sh sh sh sh sh sh sh"; // 2 - 7
    }
  }
}

//style detail__listOfDay

.detail__listOfDay {
  @include displayFlex(flex-start, center);
  padding: $sp-20 5px;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
  @include styleScrollBar(true);
  &--item {
    @include displayFlex(stretch, center, column);
    min-width: 70px;
    cursor: pointer;

    p {
      margin: 0;
      font-size: $fs-14;
      text-align: center;
    }

    .date {
      font-size: $fs-18;
      @include RESPONSIVE("768px") {
        font-size: $fs-20;
      }
    }

    &.active {
      color: $color-red-primary;
    }
  }
}

// style detail__theater
.detail__theater {
  @include displayFlex(flex-start, stretch, column);
  flex-wrap: nowrap;
  flex-basis: 100%;
  overflow-y: auto;
  @include styleScrollBar(false);

  &--item {
    padding: $sp-20;
    @include displayFlex(flex-start, center);
    cursor: pointer;
    position: relative;
    @extend %underLinePsuedo;
    .tenCumRap {
      padding-left: $sp-10;
      font-size: $fs-14 + 1;
      font-weight: 600;
      text-transform: uppercase;
    }
    .arrow {
      @include positionAbsolute(50%, false, false, 20px);
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: url("./../../images/next-session.png") center center/cover;
      @include RESPONSIVE("768px") {
        display: none;
      }
    }
  }
}

//style detail__showList
.detail__showList {
  overflow-y: auto;
  @include styleScrollBar(false);
  .theater__details--item {
    padding: 20px;
    position: relative;

    transition: 0.3s all;
    flex-wrap: wrap;
    width: 100%;
    &:not(:first-child) {
      @extend %upperLinePsuedo;
    }
    &:not(:last-child) {
      @extend %underLinePsuedo;
    }
    // &:not(.collapsed) {
    //   &::after {
    //     visibility: hidden;
    //   }
    // }
  }
  .testTimeList {
    padding: 20px;
    height: auto;
    // padding-bottom: 20px;
    // border-bottom: 1px solid #ebebec;
    // height: auto;
    // width: 100%;
    // transform: translateY(20px);
  }
}
