.hero {
  margin-bottom: 0;
  @include styleText($color-white-1, $fs-14);
  .carousel__item {
    .playBtn__overlay {
      opacity: 1;
      .play__link {
        width: unset !important;
        &:hover {
          opacity: 1;
        }
      }

      @include RESPONSIVE("768px") {
        display: none;
      }
    }
  }
  .blur__overlay {
    background: linear-gradient(to top, $color-dark-2, transparent 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; // option
  }

  .img__bg {
    height: 40vh;
    object-fit: cover;
    object-position: center center;
    @include RESPONSIVE("768px") {
      height: 80vh;
      filter: blur(8px);
      transform: scaleY(0.91); //remove blur on edge
    }
  }

  &-detail {
    @include positionAbsolute(50%, 50%);
    transform: translate(-50%, -50%);
    display: none;
    @include RESPONSIVE("768px") {
      display: block;
    }
    //.movieThumbnail
    //.main-title-detail
    //point

    // .circlePercent {
    //   @include roundElement(126px, 126px, 50%);
    //   background-color: transparentize($color: #000, $amount: 0.4);
    //   margin: 0 auto;
    //   position: relative;
    //   @include displayFlex(center, center);
    //   .circleBorder {
    //     @include roundElement(111px, 111px, 50%);
    //     border: 7.5px solid #3a3a3a;
    //     @include positionAbsolute(0, 0);
    //     box-sizing: content-box;
    //   }
    //   .point-group {
    //     @include roundElement(126px, 126px, 50%);
    //     @include positionAbsolute(0, 0);

    //     .bar {
    //       @include roundElement(111px, 111px, 50%);
    //       @include positionAbsolute(0, 0);
    //       border: 7.5px solid $color-choosing;
    //       box-sizing: content-box;
    //       // clip-path: polygon(0 0);
    //     }
    //   }
    //   .point {
    //     @include styleText($color-white-1, 3 * $sp-rem);
    //   }
    // }

    .danhGia {
      margin-top: $sp-10;
      font-size: $fs-16;
    }

    .publish__date {
      display: none;
    }
    &--pointGroup {
      .star {
        @include displayFlex(space-around, center);
        margin: 10px 0 0;
        img {
          width: 20px;
          margin: 0 2px;
        }
      }
    }
  }
}
