#seat-section {
  //@include childGrid(1, 4, 2, 3);
  // width: 95%;
  // margin-left: auto;
  padding: 30px 0;
  background-color: $color-white-0;
  // @include positionAbsolute(0, 0);
  overflow: auto;
  min-width: 265px;

  //   &::-webkit-scrollbar {
  //     display: none;
  //   }
  // }
  .seat__section--top {
    width: 90%;
    margin: 0 auto;
    @include displayFlex(space-between, center);
    .top__left {
      display: flex;
      .cinema-logo {
        margin-right: $sp-5;
        width: 45px;
      }
      .cinema-info {
        .address {
          @include styleText($color-black-1, $fs-16);
          margin-top: 2px;
          margin-bottom: $sp-10;
          .cinema-name {
            color: $color-green-primary;
          }
        }
        .day-show {
          @include styleText($color-light-1, $fs-14);
          line-height: 5px;
          margin: 0;
        }
      }
    }
    .top__right {
      @include styleText($color-light-1, $fs-12);
      text-align: center;
      p {
        margin: 0;
      }
      #timewaiting {
        @include styleText($color-red-primary, 29px);
        line-height: 29px;
      }
    }
  }
  .seat__map {
    margin-top: $sp-20;
    .screen {
      width: 90%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .listseat {
      display: grid;
      place-items: center;
      margin: auto;
      width: 90%;
      .seatrow {
        @include displayFlex(flex-start, center);
        pointer-events: none;
        position: relative;
        .seat-unclickable {
          @include positionAbsolute(50%, -10%);
          transform: translateY(-50%);
          @include styleText($color-black-1, $fs-18);
          display: inline-block;
          width: 3vh; //30px desk
          height: 3vh;
          line-height: 20px;
          border-radius: $border-radius;
          margin-right: 60px;
          text-align: center;
          cursor: default;
          &.hideOnMobile {
            margin-right: calc(100vw / 16);
            @include RESPONSIVE("768px") {
              margin-right: 60px;
            }
          }
          @include RESPONSIVE("768px") {
            width: 4vh;
            height: 4vh;
            line-height: 30px;
          }
          @include RESPONSIVE("992px") {
            width: 30px;
            height: 30px;
          }
        }
        .seat-clickable {
          position: relative;
          margin-top: 5px;

          label {
            @extend .seat-unclickable;
            transform: none;
            pointer-events: all;
            margin-bottom: 0;
            margin-right: 5px;
            background: $color-normal;
            border: 1px solid #ccc;
            position: relative;
            cursor: pointer;
            // &:last-of-type {
            //   margin-right: 0;
            // }
            &.Vip {
              background: $color-vip;
            }
            &.couple {
              background: $color-couple;
              border: none;
              transform: translateX(-2.5px);
            }
            .seatnum {
              visibility: hidden;
              @include positionAbsolute(50%, 50%);
              transform: translate(-50%, -50%);
              text-align: center;
              // line-height: ;
              @include styleText($color-black-1, $fs-14);
            }
          }
          input[type="checkbox"] {
            position: absolute;
            visibility: hidden;
            &:checked {
              & ~ label {
                background-color: $color-choosing;
              }
              & ~ label .seatnum {
                visibility: visible;
              }
            }
            &:disabled {
              & ~ label {
                background-color: $color-taken;
              }
            }
          }
        }
      }
    }
    .noteseat {
      @extend .listseat;
      margin-top: 50px;
      @include displayFlex(center, center);
      .note__item {
        margin-right: $sp-20;
        @include displayFlex(center, center, column);
        .seat-normal {
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: $border-radius;
          background: $color-normal;
        }
        .seat-vip {
          @extend .seat-normal;
          background: $color-vip;
        }
        .seat-couple {
          @extend .seat-normal;
          background: $color-couple;
        }
        .seat-taken {
          @extend .seat-normal;
          background: $color-taken;
        }
        .seat-info {
          @include styleText($color-light-1, $fs-12);
          margin-top: $sp-5;
        }
      }
    }
  }
}
