$max-height: 545px;

.theater {
  &__image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  //child 1
  &__logos {
    flex-basis: 92px; //90px +2px cua border
    max-height: $max-height;
    border: 1px solid #ebebec;
    flex-wrap: nowrap;
    justify-content: space-between;

    overflow-y: hidden;
    overflow-x: auto;
    @include styleScrollBar(true);

    transition: all 0.5s;
  }

  .nav__wrapper {
    //.nav-link
    // padding: 20px;
    width: 100%;
    border: none;
    position: relative;
    opacity: 0.7;
    transition: all 0.5s;
    &.active,
    &:hover,
    &:focus,
    &.collapse__mobile {
      opacity: 1;
    }
    @extend %underLinePsuedo;
  }

  // child 2
  &__details {
    flex-basis: 30%;
    min-width: 30%;
    width: 100%;
    max-height: $max-height;
    border: 1px solid #ebebec;

    overflow-x: hidden;
    overflow-y: auto;
    @include styleScrollBar();

    @include RESPONSIVE("768px") {
      overflow: hidden;
      &:hover {
        overflow-y: auto;
      }
    }

    &--item {
      padding: 20px;
      cursor: pointer;
      display: flex;
      //.wrapInfo viết bên dưới
    }

    .nav-tabs {
      border: none;
    }
  }

  // child 3
  &__movies {
    flex-grow: 1;
    max-height: $max-height;
    width: calc(100% - 92px - 30%);
    border: 1px solid #ebebec;
    // overflow-x: hidden;
    // overflow: hidden;
    overflow-y: auto;
    @include styleScrollBar();

    // tách cái này thành class độc lập để tái sử dụng, tạm thời viết tại đây với tên class mới: wrapper__collapse
    // &--item {
    //   display: flex;
    //   flex-direction: column;
    //   @extend .nav-link;
    //   width: unset !important;
    //   cursor: pointer;
    //   opacity: 1 !important;

    //   &--info {
    //     // @extend .nav-link;
    //     // width: unset !important;
    //     // cursor: pointer;
    //     display: flex;
    //     // opacity: 1 !important;
    //   }
    //   .timeList {
    //     cursor: default !important;
    //   }
    // }
    //end....
  }
}
//tach sang LabelContent: DONE
// .wrapInfo {
//   @include displayFlex(center, null, column);
//   overflow: hidden;
//   padding-left: $sp-10;
//   & > span:nth-child(1) {
//     display: block;
//     font-weight: 700;
//     @extend %colorTheater;
//   }
//   & > span:nth-child(2) {
//     @include styleText($color-light-0, $fs-12);
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   }

//   .showing__age {
//     @extend %showAge;
//   }
// }

//DONE

// .wrapper__collapse {
//   position: relative;
//   width: 100%;
//   padding: 20px;

//   border: none;
//   opacity: 1;
//   transition: all 0.5s;

//   @extend %underLinePsuedo;
//   //
//   // display: flex;
//   // flex-direction: column;
//   // @extend .nav-link;
//   // width: unset !important;
//   // cursor: pointer;
//   // opacity: 1 !important;

//   .main__collapse {
//     display: flex;
//     position: relative;
//     cursor: pointer;
//     transition: all 0.5s;

//     &::after {
//       content: "\f078"; // arrow down
//       font-family: "Font Awesome 5 Free";
//       font-weight: 900;
//       @include positionAbsolute(50%, false, false, 0);
//       transform: translateY(-50%);
//       width: 20px;
//       height: 20px;
//     }
//     &:not(.collapsed) {
//       &::after {
//         transform: translateY(-50%) rotateX(180deg);
//       }
//     }
//   }
//   .content__collapse {
//     .digital {
//       @include styleText($color-black-1, $fs-18);
//       font-weight: 500;
//     }
//     .start {
//       @include styleText($color-green-primary, $fs-18);
//     }
//   }
// }
